sensor_name     :jxf37
i2c_addr        :0x40
fps_num         :30
width           :1920
height          :1080
h264_en         :1
bitrate         :4000
rcmode          :cbr
uvc_led         :37
qp_value        :80
gop             :25
adb_en          :1
stillcap_en     :1
nframes         :5
{1920, 1080}
{1280, 720}
{800,  600}
{640,  480}
{640,  360}
