sensor_name     :sc4335
i2c_addr        :0x30
fps_num         :25
width           :2560
height          :1440
wdr_en          :0
bitrate         :4000
rcmode          :cbr
audio_en        :1
audio_ns        :1
gop             :25
adb_en          :1
dmic_en         :1
speak_en        :1
uvc_led         :7
product_name    :AI Webcam Jupiter
nframes         :10
{640,   480}
{160,   120}
{352,   288}
{640,   360}
{1024,  576}
{800,   600}
{1280,  720}
{1600,  896}
{1920, 1080}
{960, 720}
