sensor_name     :sc500ai
i2c_addr        :0x30
product_id      :0x3369
vendor_id       :0x291a
manufact_lab    :Anker PowerConf C200
product_lab     :Anker PowerConf C200
serial_lab      :1234567890123456
video_name      :Anker PowerConf C200
audio_name      :Anker Powerconf C200
fps_num         :30
width           :2560
height          :1440
motor_pixel     :400
motor_step      :25
motor_sleep     :80000
motor_step_max  :650
motor_step_min  :300
focus_trigger_value:15
h264_en         :1
dynamic_fps     :1
bitrate         :4000
rcmode          :cbr
audio_en        :1
adb_en          :1
af_on_off       :1
uvc_led         :49
led_level       :0
stillcap_en     :1
nframes         :6
{2560, 1440}
{1920, 1080}
{1280, 720}
{640,  480}
{640,  360}
{320,  240}
