product_lab     :HD Web Camera
sensor_name     :jxf23
i2c_addr        :0x40
fps_num         :30
width           :1920
height          :1080
h264_en         :1
bitrate         :4000
rcmode          :cbr
speak_en        :1
speak_volume    :070
audio_en        :1
uvc_led         :37
hvflip          :1
qp_value        :80
gop             :25
stillcap_en     :1
adb_en          :0
face_zoom_on    :1
nframes         :6
{1920, 1080}
{1280, 960}
{1280, 720}
{800,  600}
{640,  480}
{640,  360}
