*~
*.o
*.cmd
*.order
*.symvers
*.mod.c

*.tmp_versions
build/firmware
out_temp

.vscode
tags
ucamera-t31
*.ko
*.a
*.so

hid_update

ext/hid_tool/USB/Debug
ext/hid_tool/USB/Release
ext/hid_tool/USB/ipch
ext/hid_tool/USB/*.*sdf
ext/hid_tool/USB/USB/Debug
ext/hid_tool/USB/USB/Release
