product_lab     :HD Web Camera
sensor_name     :imx415
i2c_addr        :0x1a
fps_num         :30
width           :1920
height          :1080
h264_en         :1
speak_en        :1
speak_volume    :070
bitrate         :4000
rcmode          :cbr
audio_en        :1
af_en           :1
motor_pixel     :200
motor_step      :25
motor_sleep     :80000
motor_step_max  :600
motor_step_min  :300
uvc_led         :37
hvflip          :3
qp_value        :80
gop             :25
stillcap_en     :1
nframes         :6
{1920, 1080}
{1280, 960}
{1280, 720}
{800,  600}
{640,  480}
{640,  360}
