product_lab     :HIK 2K CAMERA
i2c_addr        :0x36
manufact_lab    :SN0002
serial_lab      :SN0002
video_name      :HIK 2K CAMERA
audio_name      :HIK 2K CAMERA Audio
sensor_name     :os04c10
product_id      :0286
vendor_id       :2BDF
device_bcd      :1003
fps_num         :30
width           :2560
height          :1440
bitrate         :4000
rcmode          :cbr
audio_en        :1
audio_ns        :1
mic_volume      :60
uvc_led         :32
uvc_touch       :34
uvc_touch_old   :62
stillcap_en     :0
hvflip          :0
qp_value        :80
gop             :25
nframes         :5
{2560, 1440}
{1920, 1080}
{1280, 960}
{1280, 720}
{640,  480}
