sensor_name     :gc4653
product_lab     :Toucan Connect W100
video_name      :Toucan Connect W100
kiva_ver        :tc_210831-A
i2c_addr        :0x29
fps_num         :30
width           :2560
height          :1440
h264_en         :1
bitrate         :4000
rcmode          :cbr
gop             :25
serial_lab      :3AUS210000000001
stillcap_en     :1
adb_en          :1
nframes         :6
{2560, 1440}
{1920, 1080}
{1280, 720}
{800,  600}
{640,  480}
{640,  360}
