vendor_id       :0xA109
product_id      :0x2231
product_lab     :HD Web Camera
manufact_lab    :Ingenic Semiconductor Co.,Ltd
video_name      :Ingenic HD Web Camera
audio_name      :Ingenic Mic Camera
sensor_name     :gc2093
i2c_addr        :0x37
fps_num         :30
width           :2560
height          :1440
h264_en         :1
speak_en        :1
speak_volume    :070
bitrate         :4000
rcmode          :cbr
audio_en        :1
af_en           :1
motor_pixel     :400
motor_step      :25
motor_sleep     :80000
motor_step_max  :600
motor_step_min  :300
speak_en        :1
uvc_led         :37
hvflip          :3
qp_value        :80
gop             :25
stillcap_en     :1
adb_en          :0
nframes         :6
{1920, 1080}
{1280, 720}
{800,  600}
{640,  480}
{640,  360}
{2560, 1440}
